<h1 align="center"> Challenge Presentation </h1>

<div align="center">
<img src="..\..\..\01_aux_files\img\UK_Traffic_Data\7.png" height="20%" width="30%"/>
<img src="..\..\..\01_aux_files\img\UK_Traffic_Data\6.png" height="20%" width="30%"/>
</div>

## We will create the following tables for our Power Bi Report
* dim_region
* dim_vehicle
* fact_road_vehicle_count
### We will save them to the results folder

In [50]:
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import col, split, lpad, lit, regexp_replace, concat, upper, trim, coalesce, sum, count

In [51]:
spark = SparkSession.builder.appName("myapp").getOrCreate()

## Creating and storing our dim_date

In [14]:
import pandas as pd;

In [16]:
dates = pd.date_range(start="2000-01-01", end="2024-12-31")

df = pd.DataFrame(
    {
    "date_id": dates.strftime("%Y%m%d").astype(int),
    "year": dates.year,
    "month": dates.strftime("%m"),
    "period": dates.strftime("%Y-%m"),
    "month_name": dates.strftime("%B").str.upper(),
    "day": dates.strftime("%d"),
    "date": dates
    }
)  
df

       date_id  year month   period month_name day       date
0     20000101  2000    01  2000-01    JANUARY  01 2000-01-01
1     20000102  2000    01  2000-01    JANUARY  02 2000-01-02
2     20000103  2000    01  2000-01    JANUARY  03 2000-01-03
3     20000104  2000    01  2000-01    JANUARY  04 2000-01-04
4     20000105  2000    01  2000-01    JANUARY  05 2000-01-05
...        ...   ...   ...      ...        ...  ..        ...
9127  20241227  2024    12  2024-12   DECEMBER  27 2024-12-27
9128  20241228  2024    12  2024-12   DECEMBER  28 2024-12-28
9129  20241229  2024    12  2024-12   DECEMBER  29 2024-12-29
9130  20241230  2024    12  2024-12   DECEMBER  30 2024-12-30
9131  20241231  2024    12  2024-12   DECEMBER  31 2024-12-31

[9132 rows x 7 columns]

In [17]:
df.to_parquet(r"..\..\..\01_aux_files\results\UK_Traffic_Data\Power_BI\dim_time\dim_time.parquet")
print("dim_time stored!")

dim_time stored!

## Extracting the main source

In [55]:
df = spark.read.parquet(r"..\..\..\01_aux_files\source\UK_Traffic_Data\dft_traffic_counts_raw_counts\dft_traffic_counts_raw_counts.parquet")
new_columns = [col(column).alias(column.lower()) for column in df.columns]
df = df.select(*new_columns)

In [56]:
df.show()

+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|count_point_id|direction_of_travel|year|         count_date|hour|region_id|region_name|region_ons_code|local_authority_id|local_authority_name|local_authority_code|road_name|road_category|road_type|start_junction_road_name|end_junction_road_name|easting|northing|    latitude|   longitude|link_length_km|  link_length_miles|pedal_cycles|two_wheeled_motor_vehicles|cars_and_taxis|buses_and_coaches|lgvs|hgvs_2_rigid_axle|hgvs_3_rigid_axle|hgvs_4_or_more_rigid_axle|hgvs_3_or_4_articulated_axle|hgvs_5_articulated_axle|hgvs_6_articulated_axle|all_hgvs|all_motor_vehicles|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|           749|                  E|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           845|                5|  31|               15|                4|                        4|                           4|                     13|                     12|      52|               935|
|           749|                  E|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         5|           908|                7| 103|               29|                3|                        2|                           7|                     18|                     20|      79|              1102|
|           749|                  E|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           595|               14|  88|               21|                3|                        5|                           9|                     17|                     19|      74|               773|
|           749|                  E|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           590|                8|  90|               31|                6|                       10|                           7|                     18|                     17|      89|               778|
|           749|                  E|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           695|               18|  75|               38|                2|                        2|                           3|                     16|                     24|      85|               875|
|           749|                  E|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           607|                7|  90|               16|                5|                        2|                           4|                      9|                     12|      48|               754|
|           749|                  W|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           731|                6|  93|               21|                9|                        3|                           4|                     15|                     13|      65|               896|
|           749|                  W|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           809|               10| 102|               24|                8|                        4|                           3|                     14|                     16|      69|               990|
|           749|                  W|2014|2014-06-25 00:00:00|  15|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         6|           755|               12| 134|               23|                5|                        2|                           6|                     12|                     17|      65|               972|
|           749|                  W|2014|2014-06-25 00:00:00|  16|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         6|           936|               13| 181|               21|                1|                        1|                           5|                     10|                     10|      48|              1184|
|           749|                  W|2014|2014-06-25 00:00:00|  17|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         4|          1117|               17|  93|                6|                2|                        2|                           5|                     13|                     12|      40|              1271|
|           749|                  W|2014|2014-06-25 00:00:00|  18|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         5|           860|                7|  61|                1|                3|                        2|                           1|                      9|                      9|      25|               958|
|           749|                  W|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           703|                5| 199|               41|                4|                        7|                           8|                      7|                     11|      78|               987|
|           749|                  W|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           925|               10| 193|               46|                2|                        4|                           8|                     12|                      8|      80|              1208|
|           749|                  W|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         4|           851|               10| 164|               29|                6|                        6|                           4|                     15|                     15|      75|              1104|
|           749|                  W|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           588|               18| 104|               24|                7|                        6|                           5|                     17|                     16|      75|               786|
|           749|                  W|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         3|           578|               11| 105|               25|                6|                        1|                          10|                     18|                     21|      81|               778|
|           749|                  W|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           623|                7|  79|               26|                4|                        1|                           3|                     11|                     14|      59|               768|
|           749|                  E|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           620|                6|  82|               28|                3|                       11|                           7|                     19|                     11|      79|               788|
|           749|                  E|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           655|                9| 111|               27|                9|                        6|                           3|                      6|                     13|      64|               841|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
only showing top 20 rows

In [57]:
df.dtypes

[('count_point_id', 'string'),
 ('direction_of_travel', 'string'),
 ('year', 'string'),
 ('count_date', 'string'),
 ('hour', 'string'),
 ('region_id', 'string'),
 ('region_name', 'string'),
 ('region_ons_code', 'string'),
 ('local_authority_id', 'string'),
 ('local_authority_name', 'string'),
 ('local_authority_code', 'string'),
 ('road_name', 'string'),
 ('road_category', 'string'),
 ('road_type', 'string'),
 ('start_junction_road_name', 'string'),
 ('end_junction_road_name', 'string'),
 ('easting', 'string'),
 ('northing', 'string'),
 ('latitude', 'string'),
 ('longitude', 'string'),
 ('link_length_km', 'string'),
 ('link_length_miles', 'string'),
 ('pedal_cycles', 'string'),
 ('two_wheeled_motor_vehicles', 'string'),
 ('cars_and_taxis', 'string'),
 ('buses_and_coaches', 'string'),
 ('lgvs', 'string'),
 ('hgvs_2_rigid_axle', 'string'),
 ('hgvs_3_rigid_axle', 'string'),
 ('hgvs_4_or_more_rigid_axle', 'string'),
 ('hgvs_3_or_4_articulated_axle', 'string'),
 ('hgvs_5_articulated_axle', 'string'),
 ('hgvs_6_articulated_axle', 'string'),
 ('all_hgvs', 'string'),
 ('all_motor_vehicles', 'string')]

### Creating dim_region

In [58]:
df.filter(
    (col("region_id").isNull()) |
    (col("road_name").isNull()) |
    (col("road_category").isNull()) |
    (col("latitude").isNull()) |
    (col("longitude").isNull()) 
).show()

+--------------+-------------------+----+----------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+--------+---------+--------------+-----------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|count_point_id|direction_of_travel|year|count_date|hour|region_id|region_name|region_ons_code|local_authority_id|local_authority_name|local_authority_code|road_name|road_category|road_type|start_junction_road_name|end_junction_road_name|easting|northing|latitude|longitude|link_length_km|link_length_miles|pedal_cycles|two_wheeled_motor_vehicles|cars_and_taxis|buses_and_coaches|lgvs|hgvs_2_rigid_axle|hgvs_3_rigid_axle|hgvs_4_or_more_rigid_axle|hgvs_3_or_4_articulated_axle|hgvs_5_articulated_axle|hgvs_6_articulated_axle|all_hgvs|all_motor_vehicles|
+--------------+-------------------+----+----------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+--------+---------+--------------+-----------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
+--------------+-------------------+----+----------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+--------+---------+--------------+-----------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+

In [59]:
dim_region = df.select(
            "region_id", "region_name", "road_name", "road_category", "road_type",
            "latitude", "longitude"
        ).\
        filter( 
                (col("region_id").isNotNull()) & 
                (col("latitude").isNotNull()) &
                (col("longitude").isNotNull())
        ).\
        distinct().\
        withColumn("lat_long", concat(trim(col("latitude")), lit(", "), trim(col("longitude")))).\
        withColumn("region_name", coalesce(upper(trim(col("region_name"))) , lit("NOT SPECIFIED") )).\
        withColumn("road_name",   coalesce(upper(trim("road_name"))        , lit("NOT SPECIFIED") )).\
        withColumn("road_category", upper(trim("road_category"))).\
        withColumn("road_type", upper(trim("road_type"))).\
        withColumn("region_id",   concat(col("region_id"), lit('-'), 'road_name', lit('-'), 'road_category',lit('-'), 'lat_long')).\
        coalesce(1)
        #To avoid creating multiple files

In [60]:
dim_region.groupBy('region_id').agg(count(lit(1)).alias('cuenta')).filter(col('cuenta') != 1).show()

+---------+------+
|region_id|cuenta|
+---------+------+
+---------+------+

In [61]:
dim_region.write.parquet(r"..\..\..\01_aux_files\results\UK_Traffic_Data\Power_BI\dim_region", mode="overwrite")
print("dim_region stored!")

dim_region stored!

### Defining fact (we will make some extra transformations on Power BI)

In [62]:
list_of_float_fields = ["pedal_cycles", "two_wheeled_motor_vehicles", "cars_and_taxis", "buses_and_coaches", "lgvs", "hgvs_2_rigid_axle", "hgvs_3_rigid_axle", "hgvs_4_or_more_rigid_axle",
    "hgvs_3_or_4_articulated_axle", "hgvs_5_articulated_axle", "hgvs_6_articulated_axle"]

In [63]:
fact = df.select(
            "region_id", 'road_name', 'road_category', 'latitude', 'longitude', "count_date", "pedal_cycles", "two_wheeled_motor_vehicles",
            "cars_and_taxis", "buses_and_coaches", "lgvs", "hgvs_2_rigid_axle", "hgvs_3_rigid_axle", "hgvs_4_or_more_rigid_axle",
            "hgvs_3_or_4_articulated_axle", "hgvs_5_articulated_axle", "hgvs_6_articulated_axle"
        ).\
        withColumn("region_id", coalesce(col("region_id").cast("int"), lit(-1))).\
        withColumn("date_id", regexp_replace((split(col("count_date"), " ").getItem(0)), "-", "" ).cast("int")).\
        withColumn("region_id",   concat(col("region_id"), lit('-'), 'road_name', lit('-'),
                                         'road_category', lit('-'), 'latitude', lit(', '), 'longitude')).\
        drop('road_name', 'road_category', 'latitude', 'longitude').\
        drop("count_date")

for colName in list_of_float_fields:
    fact.withColumn(colName, col(colName).cast("int"))

## Although this code is just to simplify the group by writing, it's important to remember that
## sum by default returns a double, which is heavier for our data model calculations than an int

In [64]:
for x in list_of_float_fields:
    print(f"sum('{x}').cast('int').alias('{x}'),")

sum('pedal_cycles').cast('int').alias('pedal_cycles'),
sum('two_wheeled_motor_vehicles').cast('int').alias('two_wheeled_motor_vehicles'),
sum('cars_and_taxis').cast('int').alias('cars_and_taxis'),
sum('buses_and_coaches').cast('int').alias('buses_and_coaches'),
sum('lgvs').cast('int').alias('lgvs'),
sum('hgvs_2_rigid_axle').cast('int').alias('hgvs_2_rigid_axle'),
sum('hgvs_3_rigid_axle').cast('int').alias('hgvs_3_rigid_axle'),
sum('hgvs_4_or_more_rigid_axle').cast('int').alias('hgvs_4_or_more_rigid_axle'),
sum('hgvs_3_or_4_articulated_axle').cast('int').alias('hgvs_3_or_4_articulated_axle'),
sum('hgvs_5_articulated_axle').cast('int').alias('hgvs_5_articulated_axle'),
sum('hgvs_6_articulated_axle').cast('int').alias('hgvs_6_articulated_axle'),

### As we are not considering hours of the day, we must summarize our data

In [65]:
fact = fact.groupBy('region_id', 'date_id').agg(
    sum('pedal_cycles').cast('int').alias('pedal_cycles'),
    sum('two_wheeled_motor_vehicles').cast('int').alias('two_wheeled_motor_vehicles'),
    sum('cars_and_taxis').cast('int').alias('cars_and_taxis'),
    sum('buses_and_coaches').cast('int').alias('buses_and_coaches'),
    sum('lgvs').cast('int').alias('lgvs'),
    sum('hgvs_2_rigid_axle').cast('int').alias('hgvs_2_rigid_axle'),
    sum('hgvs_3_rigid_axle').cast('int').alias('hgvs_3_rigid_axle'),
    sum('hgvs_4_or_more_rigid_axle').cast('int').alias('hgvs_4_or_more_rigid_axle'),
    sum('hgvs_3_or_4_articulated_axle').cast('int').alias('hgvs_3_or_4_articulated_axle'),
    sum('hgvs_5_articulated_axle').cast('int').alias('hgvs_5_articulated_axle'),
    sum('hgvs_6_articulated_axle').cast('int').alias('hgvs_6_articulated_axle')
).coalesce(1).persist()

In [66]:
print("total rows after summarizing:", fact.count())
print("The less, the better for our model")

total rows after summarizing: 202926
The less, the better for our model

In [67]:
fact.show()

+--------------------+--------+------------+--------------------------+--------------+-----------------+-----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+
|           region_id| date_id|pedal_cycles|two_wheeled_motor_vehicles|cars_and_taxis|buses_and_coaches| lgvs|hgvs_2_rigid_axle|hgvs_3_rigid_axle|hgvs_4_or_more_rigid_axle|hgvs_3_or_4_articulated_axle|hgvs_5_articulated_axle|hgvs_6_articulated_axle|
+--------------------+--------+------------+--------------------------+--------------+-----------------+-----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+
|5-A56-PA-53.34049...|20140520|          21|                        91|         15017|               70| 2377|              426|               83|                       91|                          46|                    479|                    328|
|4-A48-PA-51.51334...|20140612|          27|                       490|         57397|              503| 8182|             1169|              210|                      205|                          98|                    637|                    550|
|8-M62-TM-53.73319...|20140619|           0|                       342|         70162|              286|15770|             4328|              700|                      533|                        1071|                   5236|                   5223|
|10-M42-TM-52.4212...|20140513|           0|                       176|         82615|              367|14202|             3698|              570|                      718|                        1045|                   5485|                   1577|
|9-A23-TA-50.89528...|20140924|           0|                       257|         37471|              268| 7765|             1148|              191|                      335|                          89|                    157|                    581|
|9-A24-PA-50.82419...|20140916|         383|                       232|         15836|              218| 2435|              196|               34|                       15|                          27|                     21|                     19|
|1-A35-PA-50.73823...|20140924|         130|                       121|          8713|               49| 1803|              231|               21|                       39|                          22|                     34|                     54|
|6-A12-PA-51.58107...|20140515|          48|                       932|         33613|              338| 5908|             1282|              133|                      334|                          30|                     93|                    274|
|4-A4232-PA-51.459...|20140618|         191|                       253|         38241|              275| 4435|              605|              223|                      153|                          33|                    178|                    206|
|2-A5460-PA-52.599...|20141015|          46|                        52|         29837|              117| 4701|              463|               86|                      103|                          36|                    125|                    124|
|2-B1188-MB-53.087...|20140929|           3|                        21|          2325|               22|  416|               76|               23|                       11|                           4|                     15|                     14|
|7-B1077-MB-52.406...|20140515|          22|                        54|          3011|               32|  571|               75|               11|                        6|                           9|                     11|                     23|
|7-B1077-MB-52.231...|20140710|          10|                        12|          1399|               15|  309|               49|                1|                        1|                           7|                      8|                      9|
|9-C-MCU-51.637447...|20140610|           1|                         0|           298|                0|   82|                1|                0|                        0|                           0|                      0|                      0|
|9-U-MCU-50.866403...|20140904|           5|                         6|           501|               60|  165|                5|                4|                        0|                           0|                      0|                      0|
|6-U-MCU-51.398093...|20140707|          41|                        12|           918|                0|  100|                9|                0|                        0|                           0|                      0|                      0|
|5-U-MCU-53.489513...|20141016|          20|                         9|           605|               54|   93|                5|                0|                        0|                           0|                      0|                      0|
|10-A50-TA-52.9911...|20140915|           0|                       304|         55190|              113| 9589|             2563|              417|                      367|                         278|                    662|                   3319|
|8-U-MCU-53.546180...|20141015|           7|                        14|           984|                0|  211|                5|                0|                        1|                           0|                      0|                      0|
|9-C-MCU-51.205184...|20141003|          23|                         7|           594|                0|   91|                6|                2|                        0|                           0|                      0|                      0|
+--------------------+--------+------------+--------------------------+--------------+-----------------+-----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+
only showing top 20 rows

In [68]:
fact.coalesce(1).write.parquet(r"..\..\..\01_aux_files\results\UK_Traffic_Data\Power_BI\fact_road_vehicle_count", mode="overwrite")

print("fact_road_vehicle_count stored!")

fact_road_vehicle_count stored!