<h1 align='center'> Challenge Presentation </h1>

<div align='center'>
<img src="..\..\aux_files\img\UK_Traffic_Data\1.png" height='20%' width='20%'/>
<img src="..\..\aux_files\img\UK_Traffic_Data\2.png" height='20%' width='20%'/>
<img src="..\..\aux_files\img\UK_Traffic_Data\3.png" height='20%' width='20%'/>
</div>
<div align='center'>
<img src="..\..\aux_files\img\UK_Traffic_Data\4.png" height='20%' width='20%'/>
<img src="..\..\aux_files\img\UK_Traffic_Data\5.png" height='20%' width='20%'/>
<img src="..\..\aux_files\img\UK_Traffic_Data\6.png" height='20%' width='20%'/>
</div>
<div align='center'><img src="..\..\aux_files\img\UK_Traffic_Data\7.png" height='20%' width='20%'/></div>

### Importing necessary libraries

In [55]:
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import col, to_date, split, weekofyear, month, lpad, when, lit, regexp_replace, sum, count, concat, avg, max, year

### Defining Spark Session

In [56]:
spark = SparkSession.builder.appName("myapp").getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

### Consuming data and cleaning column names

In [57]:
df = spark.read.parquet(r'..\..\aux_files\source\UK_Traffic_Data\dft_traffic_counts_raw_counts\dft_traffic_counts_raw_counts.parquet')
new_columns = [col(column).alias(column.lower()) for column in df.columns]
df = df.select(*new_columns)

### First of all, let's check our data

AADF: Annual average daily flows
* Count_point_id – a unique reference for the road link that links the AADFs to the road network.
* Direction_of_travel – Direction of travel.
* Year – Counts are shown for each year from 2000 onwards.
* Count_date – the date when the actual count took place.
* Hour – the time when the counts in questions took place where 7 represents between 7am and 8am, and 17 represents between 5pm and 6pm.
* Region_id – Website region identifier.
* Region_name – the name of the Region that the CP sits within.
* Region_ons_code – the Office for National Statistics code identifier for the region.
* Local_authority_id – Website local authority identifier.
* Local_authority_name – the local authority that the CP sits within
* Local_authority_code – the Office for National Statistics code identifier for the local authority.
* Road_name – this is the road name (for instance M25 or A3).
* Road_category – the classification of the road type (see data definitions for the full list).
* Road_type – Whether the road is a ‘major’ or ‘minor’ road.
* Start_junction_road_name – The road name of the start junction of the link
* End_junction_road_name – The road name of the end junction of the link
* Easting – Easting coordinates of the CP location.
* Northing – Northing coordinates of the CP location.
* Latitude – Latitude of the CP location.
* Longitude – Longitude of the CP location.
* Link_length_km – Total length of the network road link for that CP (in kilometres).
* Link_length _miles – Total length of the network road link for that CP (in miles).
* Pedal_cycles – Counts for pedal cycles.
* Two_wheeled_motor_vehicles – Counts for two-wheeled motor vehicles.
* Cars_and_taxis - Counts for Cars and Taxis.
* Buses_and_coaches – Counts for Buses and Coaches
* LGVs – Counts for LGVs.
* HGVs_2_rigid_axle – Counts for two-rigid axle HGVs.
* HGVs_3_rigid_axle – Counts for three-rigid axle HGVs.
* HGVs_4_or_more_rigid_axle – Counts for four or more rigid axle HGVs.
* HGVs_3_or_4_articulated_axle – Counts for three or four-articulated axle HGVs.
* HGVs_5_articulated_axle – Counts for five-articulated axle HGVs.
* HGVs_6_articulated_axle – Counts for six-articulated axle HGVs.
* All_HGVs – Counts for all HGVs.
* All_motor_vehicles – Counts for all motor vehicles.

In [58]:
df.show()

+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|count_point_id|direction_of_travel|year|         count_date|hour|region_id|region_name|region_ons_code|local_authority_id|local_authority_name|local_authority_code|road_name|road_category|road_type|start_junction_road_name|end_junction_road_name|easting|northing|    latitude|   longitude|link_length_km|  link_length_miles|pedal_cycles|two_wheeled_motor_vehicles|cars_and_taxis|buses_and_coaches|lgvs|hgvs_2_rigid_axle|hgvs_3_rigid_axle|hgvs_4_or_more_rigid_axle|hgvs_3_or_4_articulated_axle|hgvs_5_articulated_axle|hgvs_6_articulated_axle|all_hgvs|all_motor_vehicles|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
|           749|                  E|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           845|                5|  31|               15|                4|                        4|                           4|                     13|                     12|      52|               935|
|           749|                  E|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         5|           908|                7| 103|               29|                3|                        2|                           7|                     18|                     20|      79|              1102|
|           749|                  E|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           595|               14|  88|               21|                3|                        5|                           9|                     17|                     19|      74|               773|
|           749|                  E|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           590|                8|  90|               31|                6|                       10|                           7|                     18|                     17|      89|               778|
|           749|                  E|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           695|               18|  75|               38|                2|                        2|                           3|                     16|                     24|      85|               875|
|           749|                  E|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           607|                7|  90|               16|                5|                        2|                           4|                      9|                     12|      48|               754|
|           749|                  W|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           731|                6|  93|               21|                9|                        3|                           4|                     15|                     13|      65|               896|
|           749|                  W|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           809|               10| 102|               24|                8|                        4|                           3|                     14|                     16|      69|               990|
|           749|                  W|2014|2014-06-25 00:00:00|  15|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         6|           755|               12| 134|               23|                5|                        2|                           6|                     12|                     17|      65|               972|
|           749|                  W|2014|2014-06-25 00:00:00|  16|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         6|           936|               13| 181|               21|                1|                        1|                           5|                     10|                     10|      48|              1184|
|           749|                  W|2014|2014-06-25 00:00:00|  17|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         4|          1117|               17|  93|                6|                2|                        2|                           5|                     13|                     12|      40|              1271|
|           749|                  W|2014|2014-06-25 00:00:00|  18|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         5|           860|                7|  61|                1|                3|                        2|                           1|                      9|                      9|      25|               958|
|           749|                  W|2014|2014-06-25 00:00:00|   7|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           703|                5| 199|               41|                4|                        7|                           8|                      7|                     11|      78|               987|
|           749|                  W|2014|2014-06-25 00:00:00|   8|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           925|               10| 193|               46|                2|                        4|                           8|                     12|                      8|      80|              1208|
|           749|                  W|2014|2014-06-25 00:00:00|   9|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         4|           851|               10| 164|               29|                6|                        6|                           4|                     15|                     15|      75|              1104|
|           749|                  W|2014|2014-06-25 00:00:00|  10|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           588|               18| 104|               24|                7|                        6|                           5|                     17|                     16|      75|               786|
|           749|                  W|2014|2014-06-25 00:00:00|  11|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         3|           578|               11| 105|               25|                6|                        1|                          10|                     18|                     21|      81|               778|
|           749|                  W|2014|2014-06-25 00:00:00|  12|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         0|           623|                7|  79|               26|                4|                        1|                           3|                     11|                     14|      59|               768|
|           749|                  E|2014|2014-06-25 00:00:00|  13|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         1|           620|                6|  82|               28|                3|                       11|                           7|                     19|                     11|      79|               788|
|           749|                  E|2014|2014-06-25 00:00:00|  14|        3|   Scotland|      S92000003|                39|       East Ayrshire|           S12000008|      A77|           TA|    Major|             LA boundary|                   A76| 243900|  635900|55.591636456|-4.478605862|          4.60|2.86000000000000000|           0|                         2|           655|                9| 111|               27|                9|                        6|                           3|                      6|                     13|      64|               841|
+--------------+-------------------+----+-------------------+----+---------+-----------+---------------+------------------+--------------------+--------------------+---------+-------------+---------+------------------------+----------------------+-------+--------+------------+------------+--------------+-------------------+------------+--------------------------+--------------+-----------------+----+-----------------+-----------------+-------------------------+----------------------------+-----------------------+-----------------------+--------+------------------+
only showing top 20 rows

### As we don't need to distinguish between vehicle types, we will delete all numeric columns but "all_motor_vehicles" and "pedal_cycles".
### We will also delete every unnecessary column for this challenge.

In [59]:
df = df.select(["year", "count_date", "hour", "region_name", "pedal_cycles", "all_motor_vehicles"])

### As the entire data contains a finer granularity level, we have to summarize our data to avoid having multiple rows per day-hour-region

In [60]:
df = df.withColumn("pedal_cycles", col("pedal_cycles").cast('integer') ).\
        withColumn("all_motor_vehicles", col("all_motor_vehicles").cast('integer')).\
        withColumn("region_name", when(col("region_name") == 'Scotland', lit("SCOTLAND")).otherwise(lit("ENGLAND AND WALES")))
        ### I checked myself the correct region according to the "Region_ons_code". We could automatize this process.
        ### However, to simplify the exercise, we will keep it like that.

In [61]:
df = df.groupby("year", "count_date", "hour", "region_name").agg(
    sum("pedal_cycles").alias("pedal_cycles"),
    sum("all_motor_vehicles").alias("all_motor_vehicles")
)

## Let's make every transformation needed for this challenge

In [62]:
df = df.withColumn("date_id", regexp_replace((split(col("count_date"), ' ').getItem(0)), '-', '' ).cast('int')).\
        withColumn("count_date", to_date(split(col("count_date"), ' ').getItem(0), format='yyyy-MM-dd')).\
        withColumnRenamed("count_date", "date").\
        withColumn("hour", col("hour").cast('integer') ).\
        withColumn("time_of_day", 
                                  ## Let's remember that, for example, if you have hour: 4, then it refers
                                  ## to the complete hour between 4 and 5.
                                  when( (col("hour") >= 4) & (col("hour") <= 5) , lit("EARLY MORNING")).\
                                  when( (col("hour") > 5) & (col("hour") < 11) , lit("MORNING")).\
                                  when( (col("hour") >= 11) & (col("hour") <= 12) , lit("MIDDAY/NOON")).\
                                  when( (col("hour") > 12) & (col("hour") <= 17) , lit("AFTERNOON")).\
                                  when( (col("hour") > 17) & (col("hour") <= 21) , lit("EVENING")).\
                                  otherwise(lit("NIGHTTIME"))
                   ).\
        withColumn("month", lpad( month(col("date")).cast('string'), 2, '0') ).\
        withColumn("weekNumber", lpad( weekofyear(col("date")).cast('string'), 2, '0') )

df = df.persist() ##We are persisting the dataframe, so we can make multiple control operations before continuing the task.

#### Let's check our results, working over the persisted df for performance reasons

In [63]:
df.show()

+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+
|year|      date|hour|      region_name|pedal_cycles|all_motor_vehicles| date_id|time_of_day|month|weekNumber|
+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+
|2014|2014-10-15|   8|ENGLAND AND WALES|         330|             73592|20141015|    MORNING|   10|        42|
|2014|2014-05-14|  18|ENGLAND AND WALES|         679|            112290|20140514|    EVENING|   05|        20|
|2014|2014-06-17|  11|ENGLAND AND WALES|         118|             44454|20140617|MIDDAY/NOON|   06|        25|
|2016|2016-06-10|  17|ENGLAND AND WALES|         611|             65986|20160610|  AFTERNOON|   06|        23|
|2014|2014-09-26|  17|ENGLAND AND WALES|         483|             64621|20140926|  AFTERNOON|   09|        39|
|2014|2014-09-24|  10|         SCOTLAND|           0|               458|20140924|    MORNING|   09|        39|
|2014|2014-06-16|  17|         SCOTLAND|           5|              2669|20140616|  AFTERNOON|   06|        25|
|2014|2014-05-20|   8|         SCOTLAND|           1|              1367|20140520|    MORNING|   05|        21|
|2014|2014-10-03|   7|         SCOTLAND|          16|              2035|20141003|    MORNING|   10|        40|
|2015|2015-06-29|  12|ENGLAND AND WALES|         313|            111983|20150629|MIDDAY/NOON|   06|        27|
|2014|2014-06-18|  16|         SCOTLAND|           1|               727|20140618|  AFTERNOON|   06|        25|
|2015|2015-06-18|  14|ENGLAND AND WALES|         294|             95015|20150618|  AFTERNOON|   06|        25|
|2015|2015-06-17|  15|ENGLAND AND WALES|         598|             88990|20150617|  AFTERNOON|   06|        25|
|2015|2015-09-11|  15|ENGLAND AND WALES|         647|            111376|20150911|  AFTERNOON|   09|        37|
|2015|2015-06-22|  14|ENGLAND AND WALES|         175|             80335|20150622|  AFTERNOON|   06|        26|
|2015|2015-09-10|   8|         SCOTLAND|           3|               406|20150910|    MORNING|   09|        37|
|2016|2016-06-06|  18|ENGLAND AND WALES|         919|             66360|20160606|    EVENING|   06|        23|
|2017|2017-05-03|   9|ENGLAND AND WALES|         296|             46772|20170503|    MORNING|   05|        18|
|2015|2015-06-26|  13|         SCOTLAND|           0|               613|20150626|  AFTERNOON|   06|        26|
|2015|2015-06-01|  15|         SCOTLAND|           2|               280|20150601|  AFTERNOON|   06|        23|
+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+
only showing top 20 rows

#### Ensuring that we have only one row per day/hour/region

In [64]:
df.groupby("year", "date", "hour", "region_name").agg(count(lit(1)).alias('count')).where(col('count') != 1).show()

+----+----+----+-----------+-----+
|year|date|hour|region_name|count|
+----+----+----+-----------+-----+
+----+----+----+-----------+-----+

In [65]:
print(df.dtypes)

[('year', 'string'), ('date', 'date'), ('hour', 'int'), ('region_name', 'string'), ('pedal_cycles', 'bigint'), ('all_motor_vehicles', 'bigint'), ('date_id', 'int'), ('time_of_day', 'string'), ('month', 'string'), ('weekNumber', 'string')]

In [66]:
print("Total Rows before joins", df.count())

Total Rows before joins 55040

### We will run our pandas notebook that gets data from https://date.nager.at/Api to ensure that we will have the last uk holidays information available (for years 2000-2022)

In [67]:
%run "../../Pandas/UK_Traffic_Data/uk_holidays_transformations.ipynb"

Great!

In [68]:
uk_holidays = spark.read.parquet('../../aux_files/source/UK_Traffic_Data/uk_holiday/uk_holidays.parquet').\
              drop('__index_level_0__')

In [69]:
uk_holidays.show()

+------------+-----------------+--------------------+---------------+
|holiday_date|   holiday_region|        holiday_name|holiday_date_id|
+------------+-----------------+--------------------+---------------+
|  2000-01-03|ENGLAND AND WALES|      NEW YEAR'S DAY|       20000103|
|  2000-01-03|         SCOTLAND|      NEW YEAR'S DAY|       20000103|
|  2000-01-04|         SCOTLAND|      NEW YEAR'S DAY|       20000104|
|  2000-04-21|           GLOBAL|         GOOD FRIDAY|       20000421|
|  2000-04-24|ENGLAND AND WALES|       EASTER MONDAY|       20000424|
|  2000-05-01|           GLOBAL|EARLY MAY BANK HO...|       20000501|
|  2000-05-29|           GLOBAL| SPRING BANK HOLIDAY|       20000529|
|  2000-08-07|         SCOTLAND| SUMMER BANK HOLIDAY|       20000807|
|  2000-08-28|ENGLAND AND WALES| SUMMER BANK HOLIDAY|       20000828|
|  2000-11-30|         SCOTLAND|  SAINT ANDREW'S DAY|       20001130|
|  2000-12-25|           GLOBAL|       CHRISTMAS DAY|       20001225|
|  2000-12-26|           GLOBAL|   ST. STEPHEN'S DAY|       20001226|
|  2001-01-01|           GLOBAL|      NEW YEAR'S DAY|       20010101|
|  2001-01-02|         SCOTLAND|      NEW YEAR'S DAY|       20010102|
|  2001-04-13|           GLOBAL|         GOOD FRIDAY|       20010413|
|  2001-04-16|ENGLAND AND WALES|       EASTER MONDAY|       20010416|
|  2001-05-07|           GLOBAL|EARLY MAY BANK HO...|       20010507|
|  2001-05-28|           GLOBAL| SPRING BANK HOLIDAY|       20010528|
|  2001-08-06|         SCOTLAND| SUMMER BANK HOLIDAY|       20010806|
|  2001-08-27|ENGLAND AND WALES| SUMMER BANK HOLIDAY|       20010827|
+------------+-----------------+--------------------+---------------+
only showing top 20 rows

In [70]:
uk_holidays.dtypes

[('holiday_date', 'date'),
 ('holiday_region', 'string'),
 ('holiday_name', 'string'),
 ('holiday_date_id', 'int')]

### Let's join our data

In [71]:
df = df.join(uk_holidays, on= ((uk_holidays.holiday_date_id == df.date_id) & (uk_holidays.holiday_region == df.region_name))
                               |
                               ((uk_holidays.holiday_date_id == df.date_id) & (uk_holidays.holiday_region == 'GLOBAL')),
             how='left'
            ).drop('holiday_region', 'holiday_date', 'holiday_date_id').\
            cache() ##To avoid re-doing every transformation when grouping our results
print("Total Rows after joins", df.count())

Total Rows after joins 55040

In [72]:
print("Holidays found in our data:", df.select('date').distinct().where( col('holiday_name').isNotNull() ).count())
df.where( col('holiday_name').isNotNull() ).show()

Holidays found in our data: 2
+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+-------------------+
|year|      date|hour|      region_name|pedal_cycles|all_motor_vehicles| date_id|time_of_day|month|weekNumber|       holiday_name|
+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+-------------------+
|2002|2002-05-27|   9|         SCOTLAND|           4|               894|20020527|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  18|         SCOTLAND|           9|              1055|20020527|    EVENING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  15|         SCOTLAND|           3|              1108|20020527|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  13|ENGLAND AND WALES|         250|            110442|20120528|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  10|         SCOTLAND|           1|               909|20020527|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|   7|         SCOTLAND|           7|               823|20020527|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  11|ENGLAND AND WALES|         285|            106117|20020527|MIDDAY/NOON|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  18|ENGLAND AND WALES|         891|            116910|20020527|    EVENING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|   7|ENGLAND AND WALES|         760|            130945|20020527|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  14|ENGLAND AND WALES|         285|            111898|20120528|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|   9|         SCOTLAND|          10|              5693|20120528|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  15|ENGLAND AND WALES|         398|            120438|20120528|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  13|         SCOTLAND|          16|              4788|20120528|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  17|         SCOTLAND|          45|              6148|20120528|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  18|ENGLAND AND WALES|         588|            119726|20120528|    EVENING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  13|ENGLAND AND WALES|         343|            111421|20020527|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  10|ENGLAND AND WALES|         259|            110075|20120528|    MORNING|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|  14|         SCOTLAND|           5|              1039|20020527|  AFTERNOON|   05|        22|SPRING BANK HOLIDAY|
|2012|2012-05-28|  11|         SCOTLAND|          21|              4815|20120528|MIDDAY/NOON|   05|        22|SPRING BANK HOLIDAY|
|2002|2002-05-27|   9|ENGLAND AND WALES|         545|            115585|20020527|    MORNING|   05|        22|SPRING BANK HOLIDAY|
+----+----------+----+-----------------+------------+------------------+--------+-----------+-----+----------+-------------------+
only showing top 20 rows

# DATA ENGINEERING
## Feature engineering (we will save the results into the aux_files/results/UK_Traffic_Data folder)

### * Aggregate the data bby date into weeks, months & years

In [73]:
df.groupby("year", "month", "weekNumber").agg(
    sum("pedal_cycles").alias("pedal_cycles"),
    sum("all_motor_vehicles").alias("all_motor_vehicles")
).orderBy(col("year").asc(), col("month").asc(), col("weekNumber").asc()).show()

+----+-----+----------+------------+------------------+
|year|month|weekNumber|pedal_cycles|all_motor_vehicles|
+----+-----+----------+------------+------------------+
|2000|   03|        11|        6007|           1395788|
|2000|   03|        12|       21049|           6800397|
|2000|   03|        13|       19099|           6220602|
|2000|   04|        14|       19246|           7328727|
|2000|   04|        15|       19774|           6803920|
|2000|   05|        18|       22835|           5178717|
|2000|   05|        19|       28249|           7722164|
|2000|   05|        20|       24237|           7860734|
|2000|   05|        21|       22737|           6610172|
|2000|   06|        23|       24102|           6922945|
|2000|   06|        24|       24272|           7092161|
|2000|   06|        25|       25792|           7534628|
|2000|   06|        26|       33316|           6420959|
|2000|   07|        27|       30223|           6767038|
|2000|   07|        28|       23504|           7264020|
|2000|   09|        36|         425|            570870|
|2000|   09|        38|         607|            158370|
|2000|   09|        39|       25641|           7422634|
|2000|   10|        40|       34813|          10189348|
|2000|   10|        41|       30276|           8649837|
+----+-----+----------+------------+------------------+
only showing top 20 rows

In [74]:
df.groupby("year", "month", "weekNumber").agg(
    sum("pedal_cycles").alias("pedal_cycles"),
    sum("all_motor_vehicles").alias("all_motor_vehicles")
).orderBy(col("year").asc(), col("month").asc(), col("weekNumber").asc()).\
    coalesce(1).\
    write.option("header", True).option("sep", ';').csv(r'..\..\aux_files\results\UK_Traffic_Data\data_engi_1', mode='overwrite')
    ##coalesce(1) is for avoid creating multiple files

### * Group the data by different holidays

In [75]:
df.filter( col('holiday_name').isNotNull() ).\
    groupby("year", "holiday_name").\
    agg(
    sum("pedal_cycles").alias("pedal_cycles"),
    sum("all_motor_vehicles").alias("all_motor_vehicles")
).show()

+----+-------------------+------------+------------------+
|year|       holiday_name|pedal_cycles|all_motor_vehicles|
+----+-------------------+------------+------------------+
|2002|SPRING BANK HOLIDAY|        6766|           1476022|
|2012|SPRING BANK HOLIDAY|        5674|           1567956|
+----+-------------------+------------+------------------+

### * Use the hours to create a time-of-day feature

In [76]:
df.select('hour', 'time_of_day').\
    distinct().\
    orderBy(col('hour').asc()).\
    show()

+----+-------------+
|hour|  time_of_day|
+----+-------------+
|   0|    NIGHTTIME|
|   1|    NIGHTTIME|
|   3|    NIGHTTIME|
|   4|EARLY MORNING|
|   5|EARLY MORNING|
|   7|      MORNING|
|   8|      MORNING|
|   9|      MORNING|
|  10|      MORNING|
|  11|  MIDDAY/NOON|
|  12|  MIDDAY/NOON|
|  13|    AFTERNOON|
|  14|    AFTERNOON|
|  15|    AFTERNOON|
|  16|    AFTERNOON|
|  17|    AFTERNOON|
|  18|      EVENING|
+----+-------------+

## CHALLENGE

## Enrich the days with the historical average fuel prices on that day.
## Did the prices influence travel behavior ?

### We are using weekly prices from https://www.racfoundation.org/data/uk-daily-fuel-table-with-breakdown

In [77]:
fuel_prices = spark.read.option("header", True).option("sep", ";").csv(r'..\..\aux_files\source\UK_Traffic_Data\Weekly_Fuel_Prices.csv')

* ULSP = Ultra low sulphur unleaded petrol
* ULSD = Ultra low sulphur diesel

### Making necessary transformations for our challenge

In [78]:
fuel_prices = fuel_prices.withColumn("fuel_date_id", concat(
                              split(col("date"), '/').getItem(2),
                              lpad(split(col("date"), '/').getItem(1), 2, '0'),
                              lpad(split(col("date"), '/').getItem(0), 2, '0')
                              ).cast('int')
                              ).\
                          withColumnRenamed("date", "fuel_date").\
                          withColumn("fuel_date", to_date(col("fuel_date"), format="dd/MM/yyyy")).\
                          withColumn("fuel_weekNumber", lpad(weekofyear(col("fuel_date")).cast('string'), 2, '0') ).\
                          withColumn("fuel_year", year(col("fuel_date"))).\
                          withColumn("ulsp_pump_price_litre", regexp_replace(col("ulsp_pump_price_litre"), ',', '.')).\
                          withColumn("ulsp_pump_price_litre", col("ulsp_pump_price_litre").cast('float')).\
                          withColumn("ulsd_pump_price_litre", regexp_replace(col("ulsd_pump_price_litre"), ',', '.')).\
                          withColumn("ulsd_pump_price_litre", col("ulsd_pump_price_litre").cast('float')).\
                          persist()

In [79]:
fuel_prices.dtypes

[('fuel_date', 'date'),
 ('ulsp_pump_price_litre', 'float'),
 ('ulsd_pump_price_litre', 'float'),
 ('fuel_date_id', 'int'),
 ('fuel_weekNumber', 'string'),
 ('fuel_year', 'int')]

In [80]:
fuel_prices.select(avg('ulsp_pump_price_litre'), avg('ulsd_pump_price_litre')).show()

+--------------------------+--------------------------+
|avg(ulsp_pump_price_litre)|avg(ulsd_pump_price_litre)|
+--------------------------+--------------------------+
|        115.75235956629382|        120.94190290833971|
+--------------------------+--------------------------+

In [81]:
fuel_prices.show()

+----------+---------------------+---------------------+------------+---------------+---------+
| fuel_date|ulsp_pump_price_litre|ulsd_pump_price_litre|fuel_date_id|fuel_weekNumber|fuel_year|
+----------+---------------------+---------------------+------------+---------------+---------+
|2003-06-09|                74.59|                76.77|    20030609|             24|     2003|
|2003-06-16|                74.47|                76.69|    20030616|             25|     2003|
|2003-06-23|                74.42|                76.62|    20030623|             26|     2003|
|2003-06-30|                74.35|                76.51|    20030630|             27|     2003|
|2003-07-07|                74.28|                76.46|    20030707|             28|     2003|
|2003-07-14|                74.21|                76.41|    20030714|             29|     2003|
|2003-07-21|                75.07|                 76.9|    20030721|             30|     2003|
|2003-07-28|                 75.1|                76.86|    20030728|             31|     2003|
|2003-08-04|                75.12|                76.81|    20030804|             32|     2003|
|2003-08-11|                75.44|                77.08|    20030811|             33|     2003|
|2003-08-18|                75.81|                77.44|    20030818|             34|     2003|
|2003-08-26|                76.05|                77.68|    20030826|             35|     2003|
|2003-09-01|                76.13|                77.59|    20030901|             36|     2003|
|2003-09-08|                76.23|                77.67|    20030908|             37|     2003|
|2003-09-15|                 76.2|                77.63|    20030915|             38|     2003|
|2003-09-22|                76.15|                77.55|    20030922|             39|     2003|
|2003-09-29|                76.08|                77.53|    20030929|             40|     2003|
|2003-10-06|                76.43|                77.66|    20031006|             41|     2003|
|2003-10-13|                 75.9|                77.43|    20031013|             42|     2003|
|2003-10-20|                76.05|                77.54|    20031020|             43|     2003|
+----------+---------------------+---------------------+------------+---------------+---------+
only showing top 20 rows

## As we don't have diary data, we will make weekOfYear average